
MyDict/.idea/.name

MyDict/.idea/compiler.xml

MyDict/.idea/compiler.xml

MyDict/.idea/copyright/profiles_settings.xml

MyDict/.idea/compiler.xml

MyDict/.idea/compiler.xml

MyDict/.idea/compiler.xml

MyDict/.idea/copyright/profiles_settings.xml

MyDict/.idea/gradle.xml

MyDict/.idea/misc.xml

MyDict/.idea/modules.xml

MyDict/.idea/vcs.xml

MyDict/.idea/copyright/profiles_settings.xml
